/* BIGCARD */
.cartaGrande-container{
    width: 100%;
    height: 100vh;
  }
  
  .cartaGrande{
    width: 100%;
    height: 100%;
  }
  
  .cartaGrande img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .informacion{
    position: relative;
    width: 100%;
    height: 150px;
    margin: -150px 0 0 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .informacion h1{
    font-size: 60px;
  }
  
  .informacion hr{
    width: 165px;
  }
  
  .informacion h2{
    font-size: 25px;
  }
  
  .cartaGrande-info{
    width: 100%;
    height: 300px;
    color: black;
    text-align: center;
  }
  
  .cartaGrande-info h2{
    font-size: 30px;
    margin-top: 50px;
  }
  
  .cartaGrande-info p{
    font-size: 18px;
  }