.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .btn::after {
    content: 'like';
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    transition: .2s linear;
  }
  
  .icon path {
    fill: rgb(0, 132, 255);
    transition: .2s linear;
  }
  
  .btn:hover > .icon {
    transform: scale(1.2);
  }
  
  .btn:hover > .icon path {
    fill: rgb(255, 0, 0);
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }