/* NAVBAR */
header{
    width: 90%;
    margin: 0 5%;
    height: 70px;
    width: 90%;
    overflow: hidden;
    position: fixed;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 0px 0px 10px 2px rgba(8,160,92,0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(8,160,92,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(8,160,92,0.75);
    z-index: 9999;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 0;
    margin-top: 0;
  }
  
  .menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
  
  .logo img{
    width: 170px;
    height: 100%;
    border: 2px solid #fff;
  }
  
  .links{
    display: flex;
    align-items: center;
  }
  
  .links a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .links a:hover{
    color: rgb(8,160,92);
  }
  
  li{
    list-style: none;
  }
  
  header ul{
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  header ul li{
    padding: 0 1rem;
  }
  
  header ul li a{
    font-weight: bold;
  }
  
  .total-favoritos{
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: -10px;
    margin-left: -2px;
    color: white;
    border: 2px solid red;
    background-color: red;
    border-radius: 100%;
    padding: 1px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .hamburguer-div{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }






/* RESPONSIVE (MEDIA QUERIES) */
/* NAVBAR */
@media only screen and (max-width: 800px){
  header ul{
    display: none;
  }

  .hamburguer-div{
    display: flex;
  }
}